/* sm */
@media screen and (max-width: 575px) {
  .h1-header {
    font-size: 4.25rem;
    line-height: 1.0;
  }
  .p-home {
    font-size: 25px;
  }
  .about {
    flex-direction: column;
  }
  .title-green {
    font-size: 4rem;
  }
  .carrossel {
    width: 575px;
  }
  .text-atividades {
    width: 575px;
    padding: 0 20px 0 30px !important;
  }
  .title-atividades {
    font-size: 55px;
  }
  .p-atividades {
    font-size: 20px;
  }
  .p-apoia {
    font-size: 1rem;
  }
  .text-conheca {
    font-size: 4rem;
  }
  .col-projetos {
    width: 575px;
  }
  .h-projetos {
    font-size: 70px;
  }
  .p-projetos {
    font-size: 20px;
  }
  .img-projetos{
    width: 250px;
  }
  .quem-somos{
    width: 575px;
  }
}

/* md */
@media screen and (max-width: 767px) {
  .text-atividades {
    padding: 0 15px 0 25px !important;
  }
  .missao, .visao, .valores {
    width: auto;
    height: auto;
  }
}

/* lg */
@media screen and (max-width: 991px) {
  .text-atividades {
    padding: 0 15px 0 30px !important;
  }
}

/* xl */
@media screen and (max-width: 1199px) {
  .text-atividades {
    padding: 0 25px 0 50px !important;
  }
}
