@font-face {
  font-family: cactus;
  src: url(../font/Cactus\ Regular.otf);
}

.button {
  background-color: #A24E2A;
  font-family: cactus;
}

.button:hover {
  background-color: #c96a41;
}

.button:active {
  background-color: #4d250e !important;
}

ul {
  font-family: "Arsenal", sans-serif !important;
  font-weight: 700 !important;
}

.nav-link {
  color: #2E3A2C !important;
}

.nav-link:hover {
  color: #596657 !important;
}

header {
  background-color: #F2DCBD !important;
}

.h1-header {
  font-family: cactus !important;
  color: #612F19 !important;
}

.p-home {
  font-family: "Arsenal", sans-serif;
  font-weight: 700;
  color: #000;
}

.missao,
.visao,
.valores {
  background-color: #F2DCBD;
  width: 211px;
  height: 246px;
}

.proposito {
  background-color: #DB6B29;
}

.text-conheca {
  font-family: cactus !important;
  color: #10140F;
}

.text-proposito {
  font-family: cactus !important;
  color: #4D250E;
}

.a-proposito {
  font-family: "Arsenal", sans-serif !important;
  font-weight: 400 !important;
  color: #10140F;
  cursor: pointer;
}

.a-proposito:hover {
  color: #54694f;
  cursor: pointer;
}

.col-7 {
  gap: 70px;
}

.h1-quem {
  font-family: cactus !important;
  color: #2E3A2C;
  font-size: 50px;
}

.p-quem {
  font-family: "Arsenal", sans-serif !important;
  font-weight: 700 !important;
}

.modal-title {
  font-family: cactus !important;
  color: #43200B;
}

.modal-body {
  font-family: "Arsenal", sans-serif !important;
  font-weight: 700 !important;
  color: #2E3A2C !important;
}

.navbar-toggler {
  background-color: #A24E2A;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.p-atividades {
  font-family: "Arsenal", sans-serif;
  font-weight: 700;
}

.atividades {
  background-color: #F2DCBD;
}

.h2-quem {
  font-family: cactus;
  color: #2E3A2C;
}

.card-equipe {
  background-color: #2E3A2C;
}
.card-equipe2{
  background-color: #A4501F;
}
.card-text {
  font-family: "Arsenal", sans-serif;
  font-weight: 400;
}

.h2-atividades {
  font-family: cactus;
  color: #612F19;
}

.card-title {
  font-family: cactus;
}

.apoia {
  background-color: #DB6B29;
}

.h2-apoia {
  font-family: cactus;
  color: #10140F !important;
}

.p-apoia {
  font-family: "Arsenal", sans-serif !important;
  font-weight: 700 !important;
  color: #10140F !important;
}

.p-apoia > p {
  margin: 0;
}

.text-apoia {
  padding-top: 30px;
}

.rodape {
  background-color: #F2DCBD;
  box-shadow: 0 0 20px #888888;
  padding: 0 10%;
}

.rodape-main-text {
  font-family: cactus;
  color: #8E6422;
}

.rodape-text {
  font-family: cactus;
  color: #554D42;
}

.rodape-p, .rodape-a {
  font-family: "Arsenal", sans-serif !important;
  font-weight: 700 !important;
  color: #554D42;
}

.rodape__grupo-simios{
  background-color: #DAC6AA;
}

.rodape__links-simios {
  font-family: "Arsenal", sans-serif;
  font-weight: 700;
  color: #918471;
}

.border-top {
  --bs-border-color: #BE5C1F;
}

.header-grupo{
  height: 50% !important;
}

.h-grupo{
  font-family: cactus;
  color: #612F19;
}

.p-grupo{
  font-family: "Arsenal", sans-serif !important;
  font-weight: 700 !important;
  color: #000;
}

.h-projetos {
  font-family: cactus;
  color: #43200B;
}

.p-projetos {
  font-family: "Arsenal", sans-serif !important;
  font-weight: 700 !important;
  color: #4D250E;
}

.title-equipe {
  font-family: cactus;
  color: #2E3A2C;
}

.p-equipe {
  font-family: "Arsenal", sans-serif !important;
  font-weight: 700 !important;
  color: #2E3A2C;
}

.equipe-simios {
  background-color: #EBCCBA;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #29336D;
}

::-webkit-scrollbar-thumb:hover {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: white;
}
.wp-block-group {  
z-index: 10;
}
iframe{
z-index: 0;
}
#html, body {
  max-width: 100%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #A24E2A;
}

::-webkit-scrollbar-thumb:hover {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: white;
}
.wp-block-group {  
z-index: 10;
}
iframe{
z-index: 0;
}