@font-face {
  font-family: cactus;
  src: url(../font/Cactus\ Regular.otf);
}

.button {
  background-color: #A24E2A;
  font-family: cactus;
}

.button:hover {
  background-color: #c96a41;
}

.button:active {
  background-color: #492313 !important;
}

ul {
  font-family: "Arsenal", sans-serif !important;
  font-weight: 700 !important;
}

.nav-link {
  color: #2F3B2D !important;
}

.nav-link:hover {
  color: #596657 !important;
}

header{
  background-color: #f2dcbd !important;
  
}

.h1-header {
  font-family: cactus !important;
  color: #612f19 !important;
}

.p-home {
  font-family: "Arsenal", sans-serif !important;
  font-weight: 700 !important;
  color: #000 !important;
}
.proposito{
  background-color: #d86b29;
}
.missao, .visao, .valores{
  background-color: #f2dcbd;
  width: 211px;
  height: 246px;
  
}
.text-conheca{
  font-family: cactus !important;
  font-size: 70px !important;
  padding-left: 100px;
  color: #10140F;

}
.text-proposito{
  font-family: cactus !important;
  font-size: 30px !important;
  color: #4d250e;
}
.a-proposito{
  font-family:  "Arsenal", sans-serif !important;
  font-weight: 400 !important;
  font-size: 16px;
  color: #10140F;
  cursor: pointer;

}
.a-proposito:hover{
  color: #21291f;
  cursor: pointer;

}
.col-7{
  gap: 70px;
}

.h1-quem {
  font-family: cactus !important;
  color:#2F3B2D;
  font-size: 50px;
}

.p-quem {
  font-family: "Arsenal", sans-serif !important;
  font-weight: 700 !important;
  font-size: 15px;
}
.modal-title{
  font-family: cactus !important;
  font-size: 30px !important;
  color: #4d250e;
}
.modal-body{
  font-family: "Arsenal", sans-serif !important;
  font-weight: 700 !important;
  color: #2E3A2C !important;
}
